body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header img {
  width: 170px;
}

#main .caruosel-inner img{
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#footer{
  background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a{
  color: white;
}
