doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    <p>
<img src="https://http2.mlstatic.com/cesped-artificial-importadores-directos-D_NQ_NP_884321-MPE20758683987_062016-F.jpg" alt="img" style="width:1200px;height:600px;">
a El mercado objetivo es el grupo de consumidores u organizaciones que muy probablemente adquiera los productos o servicios de la compañía. Los compradores probablemente quieran o necesiten del servicio, para enfocar el marketing hacia estos posibles compradores.
</p>